* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5px;
}


div {
    display: grid;
}

input,
select,
textarea {
    width: min-content;
    margin-bottom: 20px;
}