* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


div {
    display: grid;
}

select,
textarea {
    width: min-content;
    margin-bottom: 10px;
}

.mybtn {
    width: fit-content;
    margin: 10px 0px 10px 0px;
}

input[type=text] {
    width: min-content;
    margin: 0px 0px 10px 0px;
}